#heat-map-container {
    position: relative;
}

#heat-map-container rect:hover {
    cursor: pointer;
}

#tooltip {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 2rem 1rem 1rem 1rem;
    position: absolute;
    top: 1%;
    left: 80%;
    text-align: center;
    visibility: hidden;
    width: 10vw;
}